* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body > div, .App {
    height: inherit;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    overflow: hidden;
}

.content {
    overflow: auto;
    width: 100%;
    height: 100%;
    border: 1px solid #e4e8eb;
    position: relative;
}

.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader:before {
    content:"";
    border: 6px solid #f3f3f3;
    border-top: 6px solid #777f84;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    box-shadow: 0 1px #e4e8eb;
}

.table th {
    box-shadow: inset 1px -1px 0 0 #e4e8eb, 0 -1px #e4e8eb;
    color: #077cb3;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 10px 11px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table td {
    box-shadow: inset 1px -1px 0 0 #e4e8eb;
    color: #17293e;
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
}


.table tbody tr:last-child td {
    box-shadow: inset 1px 0 0 0 #e4e8eb;
}
.table tbody tr:last-child td:first-child {
    box-shadow: none;
}
.table tbody td:first-child, .table thead th:first-child {
    box-shadow: inset 0 -1px 0 0 #e4e8eb;
}

.table tbody tr {
    background: #fafbfd;
    height: 31px;
}
.table tbody tr:hover {
    cursor: pointer;
    background: #e8e9ea!important;
}
.table tbody tr:nth-child(even) {
    background: #fff;
}

.filters {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
}

.filters label {
    margin-right: 12px;
    margin-left: 20px;
}

.filters label {
    margin-right: 12px;
}

input, select {
    outline: none;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #fafbfd;
}

::-webkit-scrollbar-thumb {
    height: 40px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 16px;
    background-color: #777f84;
}
.user {
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: left;
}

.user ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 10px 0;
}
.user button {
    display: block;
    margin: 20px 0;
}
.user ul li {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 6px 0;
    border-top: 1px solid #e4e8eb;
}

.user ul li:first-child {
    border-top: 0;
}

.user ul li label {
    min-width: 120px;
    opacity: .8;
    text-align: right;
    margin-right: 18px;
}